* {
    margin: 0;
    padding: 0;
    color: aliceblue;
    text-decoration: none;
}
body {
    background-color: #0a0a0a;
    color: aliceblue;
}

header {
    background-color: #0a0a0a; 
    height: 80px;
    border-bottom: 1px solid rgb(49, 49, 49);
}

.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
a {
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 20px;
    width: 150px;
    border-radius: 20px 10px 20px 10px;
    transition: transform 0.2s ease-in-out;

}
a:hover {
 transform: scale(1.1);
 animation: all 4s ease-in-out;

}

img {
    max-width: 30px;

}

.ligue {
    background-color: #485fc7;
}

.local {
    background-color: #c8010f;
}

.fale {
    background-color: #2ecc71;
}

.Horário {
    margin-top: 20px;
    padding: 10px;
    background-color: #91919111;
    border-radius: .25rem;
    box-shadow: 0.5em 1em -.125em hsla(0, 0%, 47%, 0.1), 0 0 0 1px hsla(0, 0%, 4%, .02);
    color: #4a4a4a;
    min-width: 110px;
    max-width: 25%;
    border: white solid 0.1px;

}

@media (max-width: 660px) {
    .horaCenter {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Horário {
        margin-top: 20px;
        padding: 10px;
        background-color: #91919111;
        border-radius: .25rem;
        box-shadow: 0.5em 1em -.125em hsla(0, 0%, 47%, 0.1), 0 0 0 1px hsla(0, 0%, 4%, .02);
        color: #4a4a4a;
        width: 50%;
        max-width: 100%;
        min-width: 200px;
        border: white solid 0.1px;
        display: flex;
        justify-content: center;
    
    }

}

.test {
    margin-top: 3000px;
}