* {
    margin: 0;
    padding: 0;
    color: aliceblue;
    text-decoration: none;
}
body {
    background-color: #0a0a0a;
    color: aliceblue;
}

header {
    background-color: #0a0a0a; 
    height: 80px;
    border-bottom: 1px solid rgb(49, 49, 49);
}

.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
a {
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 20px;
    width: 150px;
    border-radius: 20px 10px 20px 10px;
    transition: transform 0.2s ease-in-out;

}
a:hover {
 transform: scale(1.2);
 animation: all 4s ease-in-out;

}

img {
    max-width: 30px;

}

.ligue {
    background-color: #485fc7;
}

.local {
    background-color: #c8010f;
}

.fale {
    background-color: #2ecc71;
}

